APP_NAME=Marco AI Assistant
API_VERSION=v1
DEBUG=true

OPENAI_API_KEY=
OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_MODEL=gpt-4.1-mini
DATABASE_URL=postgresql+psycopg://ai_assistant_app:password@localhost:5432/ai_assistant
TEST_DATABASE_URL=postgresql+psycopg://ai_assistant_app:password@localhost:5432/ai_assistant_test